<%= render 'shared/flash', object: nil %>


<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<div id="articles">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <%= render article %>
      <p>
        <%= link_to "Show this article", article %>
        <%= link_to "Destroy", article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
