<%= turbo_frame_tag @article do %>
  <div class="card">
    <div class="card-body">
      <%= @article.title %>
      <%= @article.content %>
      <%= @article.status %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary mr-2" %>
    </div>
  </div>
<% end %>